body{
    padding-top: 0px;
}

.navbar-default{
    background-color: #171717;
}

.navbar-brand{
    padding: 3px 15px;
}

.file-field .btn {
    float: left;
    line-height: inherit;
}

.bar {
    height: 18px;
    background: green;
}

/*Pagination*/
.pagination > li > a, .pagination > li > span{
    border: none;
}

.card .card-footer {
    padding-bottom: 0.75rem;
    background: #373a3c;
}

.dark-skin .side-nav .logo-wrapper {
    background: none;
}