
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

html {
  position: relative;
  min-height: 100%;
}

body{
  font-family: $main-font;
  padding-top: 50px;
  background: #f1f1f1 url("../images/body-bg.png");

  /* Margin bottom by footer height */
  margin-bottom: 100px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #222;
  border-top: 1px solid #080808;
}

.form-control:focus{
  border-color: $focus-color-green;
}

.navbar{
  .navbar-brand{
    padding-top: 3px;
    strong{
      font-weight: bold;
      padding-right: 3px;
      color: #fff;
      letter-spacing: -1px;
    }
  }
}

/*Header*/
header{
  background: #3e4249 url("../images/header-bg.png");
  color: #ccc;
  padding: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #080808;
}

/*Search bar*/

@media(min-width:767px){
  #search-dish-group, #search-resto-group{
    width: 40%;
    input{
      width: 100%;
    }
  }
}

/*Rating*/
.rating-symbol{
  color: #5cb85c;
}
.rate-email, .email-input-btn{
  margin-top: 5px;
}

/*Resto Main*/
.resto-main-details{
  padding: 0px 15px 10px 15px;
  .media > .media-right{
    width: 100%;
  }
}

.resto-main-name{
  font-size: 30px;
}
.dish-overall-rate{
  margin: 5px 0px 10px 0px;
}
.resto-address{
  margin-bottom: 5px;
}

.rate-input{
  font-size: 30px;
  display: block;
  text-align: center;
}

.dish-title{
  margin-bottom: 0px;
}

/* Landing page */
.intro-header {
  padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  background: url(../images/core/restaurant_small.jpg) no-repeat center center;
  background-size: cover;
}

.intro-message {
  position: relative;
  padding-top: 5%;
  padding-bottom: 10%;
  h1{
    font-family: cursive;
    i{
      color:#ffab02;
    }
  }
}

#social-block{
  font-family: cursive;
  i{
    color:#ffab02;
  }
}

.intro-message > h1 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  font-size: 5em;
}

.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
  .intro-message {
    padding-bottom: 15%;
  }

  .intro-message > h1 {
    font-size: 3em;
  }

  ul.intro-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.intro-social-buttons > li:last-child {
    margin-bottom: 0;
  }

  .intro-divider {
    width: 100%;
  }
}

.network-name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}

.content-section-a {
  padding: 50px 0;
  background-color: #f8f8f8;
}

.content-section-b {
  padding: 50px 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.section-heading {
  margin-bottom: 30px;
}

.section-heading-spacer {
  float: left;
  width: 200px;
  border-top: 3px solid #e7e7e7;
}

.banner {
  padding: 100px 0;
  color: #f8f8f8;
  background: url(../images/img/wine.jpg) no-repeat center center;
  background-size: cover;
}

.banner h2 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  font-size: 3em;
}

.banner ul {
  margin-bottom: 0;
}

.banner-social-buttons {
  float: right;
  margin-top: 0;
}

@media(max-width:1199px) {
  ul.banner-social-buttons {
    float: left;
    margin-top: 15px;
  }
}

@media(max-width:767px) {
  .banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
  }

  ul.banner-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.banner-social-buttons > li:last-child {
    margin-bottom: 0;
  }
}

footer {
  padding: 50px 0;
  background-color: #f8f8f8;
}

p.copyright {
  margin: 15px 0 0;
}

.text-xs-center{
  text-align: center;
}

.ih-item.square{
  width: auto;
  box-shadow: none;
  border: none;
}

/*Pagination*/
.pagination > li{
  a{
    border: none;
  }
  span{
    border: none;
  }
}

.modal-header{
  color: white;
  background: #3e3e3e;
  button.close{
    color: white;
  }
}