
// Body
$body-bg: #f5f8fa;
$main-green: #2BBBAD;
$main-font: 'Open Sans', sans-serif;
$focus-color-green: #5cb85c;

// Borders


// Brands

// Typography

// Navbar


// Buttons


// Inputs

// Panels

